* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.error {
    color: rgb(230, 1, 1);
    font-size: 1.1rem;
}