.home-page {

    .message-container {
        width: 60%;
        margin: 40px auto;
        @include large-smartphone {
            width: 70%;
        }
    }

    .new-message {
        background: rgb(255, 189, 182);
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    input {
        width: 80%;
        margin: 15px auto 15px 8%;
        height: 70px;
        border-radius: 20px;
        padding-left: 10px;
        font-size: 1.2rem;
    }
    button {
        width: 25%;
        margin-left: 60%;
        padding: 5px 15px;
        font-size: 1rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 3px black;
        background-color: rgb(98, 201, 214);
        cursor: pointer;
        transition: 0.2s;
        @include large-smartphone {
            width: 35%;
        }
    }
    button:hover {
        filter: brightness(110%);
      }

    .post {
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        border: 5px solid rgb(255, 221, 217);
    }

    .post-title {
        display: flex;
        justify-content: space-between;
    }

    .user-name {
        font-size: .8rem;
        color: gray;
        padding-left: 10px;
    }

    .content {
        margin: 20px 0;
    }
    
    img {
        width: 80%;
        height: 300px;
        margin: 10px 10% 0;

        @include large-smartphone {
            height: 200px;
        }
    }
}